@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.header-main{
    --text-color: #222;
    --border-color: rgb(211, 211, 211);
    --input-color: rgb(224, 224, 224);
    height:80px;
    display:grid;
    grid-template-columns: auto auto auto;
    line-height: 10vh;
    vertical-align: middle;
    position: fixed;
    width:100vw;
    font-family: 'Roboto', sans-serif;
    border-bottom: .5px solid var(--border-color);
}
.header-search input{
        border-radius: 20px;
        border:none;
        background-color: var(--input-color);
        line-height: 5vh;
        padding-left: 30px;
        font-size: 15px;
        width:18vw;
}
.header-logo{
    color: var(--text-color);
    font-size: 30px;
    padding-left: 5vw;

}
.header-logo img{
    /* margin-top:-9px; */
    display: flex;
    padding:0px;
    width:150px;
    vertical-align: middle;
    text-align: center;
}

.header-menus{
    text-decoration: none;
    margin:0px;
    padding:0px;
    right:8vw;
    position: absolute;
}
.header-menus li{
    margin:0px;
    text-decoration: none;
    padding:0px;
    display:inline-block;
    padding-left: 2.5vw;
    vertical-align: middle;
    color: var(--text-color);
}